In [1]:
import pandas as pd

In [15]:
import numpy as np

In [30]:
df=pd.read_csv("train.csv")

In [31]:
df.head()

                     Patient  Weeks   FVC    Percent  Age   Sex SmokingStatus
0  ID00007637202177411956430     -4  2315  58.253649   79  Male     Ex-smoker
1  ID00007637202177411956430      5  2214  55.712129   79  Male     Ex-smoker
2  ID00007637202177411956430      7  2061  51.862104   79  Male     Ex-smoker
3  ID00007637202177411956430      9  2144  53.950679   79  Male     Ex-smoker
4  ID00007637202177411956430     11  2069  52.063412   79  Male     Ex-smoker

In [18]:
df=pd.concat([df,pd.get_dummies(df['Sex'])],axis=1).drop(['Sex'],axis=1)

In [19]:
df.head()

,Patient,Weeks,FVC,Percent,Age,SmokingStatus,Female,Male
0,ID00007637202177411956430,-4,2315,58.253649,79,Ex-smoker,0,1
1,ID00007637202177411956430,5,2214,55.712129,79,Ex-smoker,0,1
2,ID00007637202177411956430,7,2061,51.862104,79,Ex-smoker,0,1
3,ID00007637202177411956430,9,2144,53.950679,79,Ex-smoker,0,1
4,ID00007637202177411956430,11,2069,52.063412,79,Ex-smoker,0,1

In [20]:
df=pd.concat([df,pd.get_dummies(df['SmokingStatus'])],axis=1).drop(['SmokingStatus'],axis=1)

In [21]:
df.head()

,Patient,Weeks,FVC,Percent,Age,Female,Male,Currently smokes,Ex-smoker,Never smoked
0,ID00007637202177411956430,-4,2315,58.253649,79,0,1,0,1,0
1,ID00007637202177411956430,5,2214,55.712129,79,0,1,0,1,0
2,ID00007637202177411956430,7,2061,51.862104,79,0,1,0,1,0
3,ID00007637202177411956430,9,2144,53.950679,79,0,1,0,1,0
4,ID00007637202177411956430,11,2069,52.063412,79,0,1,0,1,0

In [22]:
df['dFVC'] =df["FVC"]-df["FVC"].shift(1)

In [23]:
df['dPercent'] = df["Percent"]-df["Percent"].shift(1)

In [24]:
df['Gap'] = df["Weeks"]-df["Weeks"].shift(1)

In [25]:
df.head()

,Patient,Weeks,FVC,Percent,Age,Female,Male,Currently smokes,Ex-smoker,Never smoked,dFVC,dPercent,Gap
0,ID00007637202177411956430,-4,2315,58.253649,79,0,1,0,1,0,NaN,NaN,NaN
1,ID00007637202177411956430,5,2214,55.712129,79,0,1,0,1,0,-101.0,-2.541520,9.0
2,ID00007637202177411956430,7,2061,51.862104,79,0,1,0,1,0,-153.0,-3.850025,2.0
3,ID00007637202177411956430,9,2144,53.950679,79,0,1,0,1,0,83.0,2.088576,2.0
4,ID00007637202177411956430,11,2069,52.063412,79,0,1,0,1,0,-75.0,-1.887267,2.0

In [26]:
df.fillna(0,inplace=True)

In [33]:
df.head()

                     Patient  Weeks   FVC    Percent  Age   Sex SmokingStatus
0  ID00007637202177411956430     -4  2315  58.253649   79  Male     Ex-smoker
1  ID00007637202177411956430      5  2214  55.712129   79  Male     Ex-smoker
2  ID00007637202177411956430      7  2061  51.862104   79  Male     Ex-smoker
3  ID00007637202177411956430      9  2144  53.950679   79  Male     Ex-smoker
4  ID00007637202177411956430     11  2069  52.063412   79  Male     Ex-smoker

In [55]:
cat_features =["SmokingStatus"]

In [35]:
count_enc = ce.CountEncoder()

In [37]:
count_encoded = count_enc.fit_transform(df[cat_features])

In [39]:
df = df.join(count_encoded.add_suffix("_count"))

In [40]:
df.head()

,Patient,Weeks,FVC,Percent,Age,Sex,SmokingStatus,Sex_count
0,ID00007637202177411956430,-4,2315,58.253649,79,Male,Ex-smoker,1224
1,ID00007637202177411956430,5,2214,55.712129,79,Male,Ex-smoker,1224
2,ID00007637202177411956430,7,2061,51.862104,79,Male,Ex-smoker,1224
3,ID00007637202177411956430,9,2144,53.950679,79,Male,Ex-smoker,1224
4,ID00007637202177411956430,11,2069,52.063412,79,Male,Ex-smoker,1224

In [63]:
target_enc = ce.TargetEncoder(cols=cat_features)

In [64]:
target_enc.fit(df[cat_features], df['Percent'])

TargetEncoder(cols=['SmokingStatus'])

In [66]:
df = df.join(target_enc.transform(df[cat_features]).add_suffix('_target2'))

In [67]:
df.head()

,Patient,Weeks,FVC,Percent,Age,Sex,SmokingStatus,Sex_count,Sex_target,Sex_cb,SmokingStatus_target,SmokingStatus_target2
0,ID00007637202177411956430,-4,2315,58.253649,79,Male,Ex-smoker,1224,2906.218954,2906.04284,2784.578998,76.42948
1,ID00007637202177411956430,5,2214,55.712129,79,Male,Ex-smoker,1224,2906.218954,2906.04284,2784.578998,76.42948
2,ID00007637202177411956430,7,2061,51.862104,79,Male,Ex-smoker,1224,2906.218954,2906.04284,2784.578998,76.42948
3,ID00007637202177411956430,9,2144,53.950679,79,Male,Ex-smoker,1224,2906.218954,2906.04284,2784.578998,76.42948
4,ID00007637202177411956430,11,2069,52.063412,79,Male,Ex-smoker,1224,2906.218954,2906.04284,2784.578998,76.42948

In [49]:
target_enc = ce.CatBoostEncoder(cols=cat_features)
target_enc.fit(df[cat_features], df['FVC'])

CatBoostEncoder(cols=['Sex'])

In [50]:
df = df.join(target_enc.transform(df[cat_features]).add_suffix('_cb'))

In [51]:
df.head()

,Patient,Weeks,FVC,Percent,Age,Sex,SmokingStatus,Sex_count,Sex_target,Sex_cb
0,ID00007637202177411956430,-4,2315,58.253649,79,Male,Ex-smoker,1224,2906.218954,2906.04284
1,ID00007637202177411956430,5,2214,55.712129,79,Male,Ex-smoker,1224,2906.218954,2906.04284
2,ID00007637202177411956430,7,2061,51.862104,79,Male,Ex-smoker,1224,2906.218954,2906.04284
3,ID00007637202177411956430,9,2144,53.950679,79,Male,Ex-smoker,1224,2906.218954,2906.04284
4,ID00007637202177411956430,11,2069,52.063412,79,Male,Ex-smoker,1224,2906.218954,2906.04284

In [53]:
 def get_compiled_model():
    model = tf.keras.Sequential([
    tf.keras.layers.Dense(200, activation='relu'),
    tf.keras.layers.Dense(100, activation='relu'),
    tf.keras.layers.Dense(100, activation='relu'),
    tf.keras.layers.Dense(50, activation='relu'),
    tf.keras.layers.Dense(3, activation='relu'),
            ])

    model.compile(loss=mloss(0.5), optimizer="adam", metrics=[kloss])
    return model

In [ ]:
dataset = tf.data.Dataset.from_tensor_slices((x_train.values, y_train.values))
train_dataset=dataset.batch(9)
model = get_compiled_model()
tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir="/home/tkrsh/osic-git/", profile_batch=5)

In [ ]:
history=model.fit(train_dataset,epochs=100,callbacks=[tensorboard_callback])

In [52]:
df['Sex_target']-df['Sex_cb']

0       0.176114
1       0.176114
2       0.176114
3       0.176114
4       0.176114
          ...
1544    0.176114
1545    0.176114
1546    0.176114
1547    0.176114
1548    0.176114
Length: 1549, dtype: float64